{% extends "users/base.html" %}
{% block title %} Hjem {% endblock title%}
{% block content %}
    <div>
        {% if user.is_authenticated %}
            <p>Velkommen {{user.username}}!</p>
            <a href="{% url 'users:my_profile' %}">Gå til din profil</a>
            <br>
            <a href="{% url 'homepage:listing_overview' %}">Se alle annonser</a>
            <br>
            <a href="{% url 'logout' %}">Logg ut</a> {% comment %} merk at logout er innebygd url som logger ut og lenker til det som er spesifisert i settings.py {% endcomment %}
            <br>
            <a href="{% url 'homepage:add_listing' %}">Opprett annonse</a>
        {% else %}
            <p>Du er ikke innlogget</p>
            <a href="{% url 'login' %}">Logg inn</a>

            <br>
            <a href="{% url 'users:signup' %}">Trykk her for å registrere deg</a>
        {% endif %}
    </div>
{% endblock content %}