{% extends "users/base.html" %}
{% block title %} Annonse {% endblock title%}
{% block content %}
    <div>
        {% for listing in all_listings %}
            {% if not listing.loaned %}
                <div class="listingDIV">
                    <a href="{% url 'homepage:listing' listing_id=listing.id %}">{{listing.title}}</a>
                    <p>Eier: {{listing.owner}}</p>
                    <p>Sted: {{listing.location}}</p>
                    <p>Kategori : {{listing.get_category_display}}</p>
                    <br>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}
