{% extends "users/base.html" %}
{% block title %} Annonse {% endblock title%}
{% block content %}
    <div>
      <p>Tittel: {{listing.title}}</p>
      <br>
      <p>Eier: {{listing.owner}}</p>
      <br>
      <p>Sted:</p>
      <p>{{listing.location}}</p>
      <br>
      <p>Beskrivelse:</p>
      <p>{{listing.description}}</p>
      <br>
      <p>Kategori</p>
      <p>{{listing.get_category_display}}</p>
      <br>
      <a href="{% url 'homepage:listing_overview' %}" class="knapp">Tilbake til oversikt</a>
    </div>
{% endblock content %}