{% extends "users/base.html" %}
  {% block title %} Annonse {% endblock title%}
  {% block content %}
      <div>
        <h1>{{listing.title}}</h1>
        <div class="listingImgBig">
          <img src="{{listing.image.url}} " width="350px" height="350px" />
        </div>
        <p>Eier: <a href="{% url 'users:profile' listing.owner %}">{{listing.owner}}</a></p>
        <br>
        <p>Pris: <br>
          {{listing.price}}</p>
        <br>
        <p>Utlånsstatus: <br>
          {% if listing.loaned %}
            Utlånt
          {% else %}
            Tilgjengelig for utlån
          {% endif %}
        </p>
        <br>
        <p>Sted: <br>
          {{listing.location}}</p>
        <br>
        <p>Beskrivelse: <br>
          {{listing.description}}</p>
        <br>
        <p>Kategori <br>
          {{listing.get_category_display}}</p>
        <br>
        <a href="{% url 'homepage:listing_overview' 'utlån' %}" class="knapp">Tilbake til oversikt</a>
      </div>
      <br>

  
    <div>
      <form action="{% url 'homepage:listing' listing.id %}" method="POST">
        {% csrf_token %}
        <select id='userListDD' name='userListDD'>
          {%for liste in dropdownList%}
          <option value="{{liste.listName}}">{{liste.listName}}</option>
          {%endfor%}
        </select>        
        <button type="submit" value = "Click" name="add_to_fav_btn">Lagre i liste</button>
      </form>
      <br>
    </div>

    {% if listing.loaned %}
        <div>
          <p>Objektet er allerede utlånt</p>
        </div>
      {% elif notRequested %}
        <div>
          <form action="{% url 'homepage:listing' listing.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" value = "Click" name="request_btn">Forespør utlån</button>
          </form>
        </div>
      {% else %}
      <div>
        <p>
          Lån er allerede forespurt
        </p>
      </div>
      {% endif %}

      <div>
        <form action="" method="POST">
          {% csrf_token %}
          <h5>Skriv anmeldelse</h5>
          <div>
            <label>Vurder prouktet</label>
            <br>
            <div class="rate">
              <input type="radio" name="rating" id="rating10" value="5" required><label for="rating10" title="5"></label>
              <input type="radio" name="rating" id="rating9" value="4.5" required><label for="rating9" title="4.5" class="half"></label>
              <input type="radio" name="rating" id="rating8" value="4" required><label for="rating8" title="4"></label>
              <input type="radio" name="rating" id="rating7" value="3.5" required><label for="rating7" title="3.5" class="half"></label>
              <input type="radio" name="rating" id="rating6" value="3" required><label for="rating6" title="3"></label>
              <input type="radio" name="rating" id="rating5" value="2.5" required><label for="rating5" title="2.5" class="half"></label>
              <input type="radio" name="rating" id="rating4" value="2" required><label for="rating4" title="2"></label>
              <input type="radio" name="rating" id="rating3" value="1.5" required><label for="rating3" title="1.5" class="half"></label>
              <input type="radio" name="rating" id="rating2" value="1" required><label for="rating2" title="1"></label>
              <input type="radio" name="rating" id="rating1" value="0.5" required><label for="rating1" title="0.5" class="half"></label>
            </div>
            <br>
            Tittel: 
            <input type="text" class = "form-control" name ="subject">
            <br>
            Anmeldelse:
            <textarea name = "review" rows="5" class="form-control"></textarea>
            <br>
            <button type="submit" values="submit_review">Post anmeldelse</button>
            <br>
          </div>
        </form>
      </div>
  {% endblock content %}


