{% extends "users/base.html" %}
{% block title %} Annonse {% endblock title%}
{% block content %}
    <div>
      <p class="listing_title">{{listing.title}}</p>
      <p>{{listing.owner}}</p> {% comment "" %} Burde linke til brukerprofil når vi har laget brukerprofiler :){% endcomment %}
      <br>
      <p>Utlånsstatus: <br>
        {% if listing.loaned %}
          Utlånt
        {% else %}
          Tilgjengelig for utlån
        {% endif %}
      </p>
      <br>
      <p>Sted: <br>
        {{listing.location}}</p>
      <br>
      <p>Beskrivelse: <br>
        {{listing.location}}</p> {% comment "Change to description" %}{% endcomment %}
      <br>
      <p>Kategori <br>
        {{listing.location}}</p>{% comment "Change to category" %}{% endcomment %}
      <br>
      <a href="{% url 'homepage:listing_overview' %}" class="knapp">Tilbake til oversikt</a>
    </div>
{% endblock content %}