{% extends "users/base.html" %}
{% block title %} Annonse {% endblock title%}
{% block content %}
    <div>
        <div>
            <form action="" method="GET">
                <label>Kategori: </label>
                <select id="qs" name="qs" style="font-size: 16px;">
                    <option value="">--</option>
                    <option value="1">Saging</option>
                    <option value="2">Maling</option>
                    <option value="3">Sveising</option>
                    <option value="4">Kutt/Kapping</option>
                    <option value="5">Skruverktøy</option>
                    <option value="6">Slagverktøy</option>
                    <option value="7">Annet</option>
                </select>
                  <input type="text" placeholder="Søk etter et produkt.." name="q" style="font-size: 16px;">
                  <button class="button" type="submit">Søk</button>
              </form>
        </div>
        {% if searchedListings %}
            {% for listing in searchedListings %}
                <div class="listingDIV">
                    <a href="{% url 'homepage:listing' listing_id=listing.id %}" class="listingLink">invisible link!</a>
                    <div class="listingContent">
                        <h2>{{listing.title}}</h2>
                        <div class="listingImg"></div>
                        <p>Eier:   <a href="{% url 'users:profile' listing.owner %}">  <a href="{% url 'users:profile' listing.owner %}">{{listing.owner}}</a> </a> </p>
                        <p>Sted: {{listing.location}}</p>
                        <p>Kategori : {{listing.get_category_display}}</p>
                        <br>
                    </div>
                </div>
            {% endfor %}
            {% else %}
            <p>Ingen resultater</p>
        {% endif %}
    </div>
{% endblock content %}
