{% load static %}
<!DOCTYPE html>
<html lang="nb">
  <head>
    <!-- ?{% now "U" %} gjør at .css ikke caches, kan fjernes når development er ferdig-->
    <link rel="stylesheet" href="{% static 'stylish.css'%}?{% now "U" %}">
    <link rel="icon" type="image/x-icon" href="{% static '/img/standinFavIcon.png'%}">
    <meta charset="utf-8" />
    <!-- Navn på siden -->
    <title>
      {% block title %}{% endblock %}
    </title>
  </head>
  <header> <div class="topbar">
    <a href="{% url 'homepage:home' %}">Logoo</a>
  </div> </header>

  <body class="bg">
    <div class="contentBG">
      <div class="contentbox">
        <!-- Sideinnhold -->
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
