{% load static %}
<!DOCTYPE html>
<html lang="nb">
  <head>
    <link rel="stylesheet" href="{% static 'stylish.css'%}">
    
    <meta charset="utf-8" />
    <!-- Navn på siden -->
    <title>
      {% block title %}

      {% endblock %}
    </title>
  </head>
  <header> <div class="topbar">
    <a href="{% url 'homepage:home' %}">Verktøy-Utlån</a>
  </div> </header>
  <body class="bg">
    <div class="centered">
      <!-- Sideinnhold -->
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
