{% extends "users/base.html" %}
{% block title %} Min profil {% endblock title%}
{% block content %}
    <div>
        <p>Navn: {{user.username}}</p>
        <br>
        <!--Vis bio-->
        <p>Beskrivelse: {{user.profile_form}}</p>
        <br>
        <p>Mine annonser:
            <br>
        {% for listing in own_listings %}
            <a href="/homepage/listing/{{ listing.id }}">{{listing.title}}</a>
            <br>
        {% endfor %}
        </ul>
        <br>
        <br>
        <a href="{% url 'users:update_profile' %}" class="knapp">Oppdater profil</a>
    </div>

{% endblock content %}