{% load static %}
<!DOCTYPE html>
<html lang="nb">
  <head>
    <!-- ?{% now "U" %} gjør at .css ikke caches, kan fjernes når development er ferdig-->
    <link rel="stylesheet" href="{% static 'stylish.css'%}?{% now "U" %}">
    <link rel="stylesheet" href="{% static 'review.css'%}?{% now "U" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="{% static '/img/standinFavIcon.png'%}">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    <meta charset="utf-8" />
    <!-- Navn på siden -->
    <title>
      {% block title %}{% endblock %}
    </title>
  </head>
  <header> <div class="topbar">
    <div class="topbarBoxImg"> 
      <a href="{% url 'homepage:listing_overview' %}" class="Logo">
        <img src="{% static 'img/logo.png' %}" alt="En nydelig logo" class="logoIMG">
      </a>
    </div>
    <div class="topbarBox">
        <a href="{% url 'homepage:listing_overview' 'utlån' %}" class="knapp">Annonser</a>
        {% if user.is_authenticated %}
        <a href="{% url 'users:my_profile' %}" class="knapp">Min Profil</a>
        <a href="{% url 'logout' %}" class="knapp">Logg Ut</a>
        {% else %}
        <a href="{% url 'login' %}" class="knapp">Logg inn</a>
        <a href="{% url 'users:signup' %}" class="knapp">Registrer deg</a>
        {% endif %}
    </div>
  </div>
</header>

  <body class="bg">
    <div class="contentBG">
      <div class="contentboxL">
        <!-- Sideinnhold -->
        {% block contentL %}
        {% endblock %}
      </div>
      
      <div class="contentboxMid">
        <!-- Sideinnhold -->
        {% block contentboxMid %}
        {% endblock%}
      </div>
    </div>
  </body>
</html>
