.bg {
    margin: 0px;
    background-image: url("../static/img/standinBG.jpg");
    background-size: cover;
    height: 100%;
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

.contentBG {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    margin-top: 10px;
    width: 100%;
    padding: 0px;
    min-height: 80vh;
    height: auto;
}

.contentbox{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}


h5 {
    color: rgb(0, 0, 0);
    font-size: larger;
    margin: 10px;
    margin-left: 0px;
}


.topbar {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 1vh;
}
.topbar a{
    font-weight: bold;
    font-size: 5vw;
    color: white;
}
.topbar a:visited{
    color: white;
}

button, .knapp, .knappStor {
    background-color: rgb(97, 152, 255);
    padding: 4px;
    text-decoration: none;
    box-shadow: 2px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    border: none;
    border-radius: 2px;
    font-size: 16px; 

}

.knappStor {
    padding: 10px;
    margin: 20px;
    font-weight: bold;
}

button:hover, .knapp:hover, .knappStor:hover{
    background-color: rgb(118, 222, 206);
}
button:active, .knapp:active, .knappStor:active{
    background-color: rgb(60, 247, 219);
}

.knapp:visited, .knappStor:visited{
    color: black;
}

.landingpage {
    background-image: radial-gradient(rgba(255, 255, 255, 0),black);
    height: 100vh;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 5vw;
    color: white;
}
.landingpage .logodiv{
    padding-top: 35vh;
    padding-bottom: 35vh;
}
.landingpage a:visited{
    color: white;
}

.listingDIV{
    background-color: aquamarine;
    padding-top: 10px;
    margin: 2vh;
    border-radius: 5px;
}